@model PowerJump.Models.Photo

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm(null, null, new { id = ViewBag.GalleryId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Photo</h4>
        <hr />
        Избери
        <div class="form-group">
            @Html.LabelFor(model => model.Gallery, "Събитие", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @*@Html.DropDownList("Events", null, string.Empty, htmlAttributes: new { @class = "form-control", @onchange = "DropdownSelectChange('Events', value)" })*@
                @Html.ValidationMessageFor(model => model.GalleryId, "", new { @class = "text-danger" })
            </div>
        </div>
        или
        <div class="form-group">
            @Html.LabelFor(model => model.Gallery, "Проекти", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Projects", null, string.Empty, htmlAttributes: new { @class = "form-control", @onchange = "DropdownSelectChange('Projects', value)" })

                @Html.ValidationMessage("dropdown", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="uploadImage" />
                @Html.ValidationMessage("uploadImage", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/helper.js")
}




